/* CSS declarations go here */

.input-wrapper input {
    position: relative;
    margin-left: 70px;
    background-color: rgba(210,180,140,1);
    color: black;
    font-family: 'sans-serif';
    font-size: 1em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    padding: 8px;

    border-radius: 8px;
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.input-wrapper input:hover {
    background-color: red;
}

.navbar-default {
    background-color: #faf8ef;
}

#login-dropdown-list input {
    background-color: #faf8ef;
    color: black;
}

#login-dropdown-list .dropdown-menu {
    background-color: #faf8ef;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

#stone-sound {
    display: none;
}

li.notification.warning {
  background-color: #d2b48c;
}

.ribbon {
  overflow: hidden;
  background-color: lightgrey;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(+45deg);
     -moz-transform: rotate(+45deg);
      -ms-transform: rotate(+45deg);
       -o-transform: rotate(+45deg);
          transform: rotate(+45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: black;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}